
<launch>
 <!-- Open loop control -->
	<node pkg="spir_atnv" type="open_control" name="Open_loop_test1"  />
   	<rosparam param="Gain">[20,20,15,5,5,15]</rosparam>

<!-- Send commands to thrusters -->
 	<node pkg="spir_thrusters" type="thruster_interface" name="thruster_interface" output="screen" />

</launch>
